<h1>Game View</h1>
<nav>
  <a href='/lobby'>Back to Lobby</a>
</nav>
<form ng-submit='game.sendChat()'>
  <input type='text' ng-model='game.chat' />
  <button type='submit'>Send</button>
</form>
<ul ng-repeat=' player in game.table.players'>
  <li>
    Seat {{ player.seat }}: {{ player.username }}
  </li>
</ul>
<ul class='chat' ng-repeat='message in game.messages'>
  <li>
    {{message}}
  </li>
</ul>
<button ng-click='game.ready()'>Ready!</button>
<section class='player-hud'>
  <div class='player-chat'>

  </div>
  <div class='player-cards'>
    {{game.card1}} {{game.card2}}
  </div>
  <div class='player-action'>

  </div>
</section>
