<body>

<h1>Game View</h1>
<nav>
  <a href='/lobby'>Back to Lobby</a>
</nav>
<section class='table-view'>
  <div class='blinds'>
    <p>Small Blind: {{ game.smallBlind }}  Big Blind: {{ game.bigBlind }}</p>
  </div>
  <div class='pot-size'>
    <p>{{ game.potSize }}</p>
  </div>
  <div class='bet-size'>
    <p>The bet to call is {{ game.betSize }}</p>
  </div>

  <ul ng-repeat=' player in game.table.players'>
    <li>
      <p>Seat {{ player.seat }}: {{ player.username }}</p>
    </li>
  </ul>

<button ng-click='game.ready()' ng-show='game.readyClick'>Ready!</button>
</section>
<section class='community-cards'>
  <li>
    {{game.flop}}
  </li>
  <li>
    {{game.turn}}
  </li>
  <li>
    {{game.river}}
  </li>

</section>
<section class='player-hud'>
  <div class='player-chat'>
    <ul class='chat' ng-repeat='message in game.messages'>
      <li>
        {{ message.username }}: {{ message.msg }}
      </li>
    </ul>
      <form ng-submit='game.sendChat()'>
        <input type='text' ng-model='game.chat' />
        <button type='submit'>Send</button>
      </form>
  </div>
  <div class='player-cards'>
    <ul>
      <li>
        {{game.card1}}
      </li>
      <li>
        {{game.card2}}
      </li>
    </ul>

  </div>
  <div class='player-action'>
    <p>{{ game.username }}</p>
    <p>Your Stack: {{ game.chipStack }}</p>
    <form ng-submit='game.sendBet()'>
      <div id='bet-input'>
        <input type='number' min='0' step='any' ng-model='game.bet'  />
        <button type='submit'>Bet!</button>
      </div>
    </form>
      <div id='bet-click-boxes'>
        <button type='click' ng-click='game.bet = game.potSize / 4'>1/4 Pot</button>
        <button type='click' ng-click='game.bet = game.potSize / 2'>1/2 Pot</button>
        <button type='click' ng-click='game.bet = game.potSize * 0.75'>3/4 Pot</button>
        <button type='click' ng-click='game.bet = game.potSize'>Pot</button>
        <button type='click' ng-click='game.bet = game.betSize'>Call</button>
      </div>
      <div id='check-fold-allIn'>
        <button type='click'>Check</button>
        <button type='click'>Fold</button>
        <button type='click'>Min</button>
        <button type='click'>All-In</button>
      </div>
  </div>
</section>
</body>
