/*---------------------------------------------------------------------------
Reset
----------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------------------------------------
Game View
----------------------------------------------------------------------------*/
.community-cards ul li {
	display: inline;
}

.table-info ul li {
	border-right: 1px solid black;
	display: inline;
	margin-right: 10px;
}

.player-hud {
  border-top: 1px solid black;
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%
}

.player-chat {
  border-right: 1px solid black;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 33%;
}

.player-chat form {
  bottom: 0;
  position: absolute;
}

.player-cards {
  bottom: 0;
  padding-left: 33%;
  width: 33%;
}

.player-action {
  border-left: 1px solid black;
  height: 100%;
  float: right;
  width: 33%;
}
